/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #000000;
$link-color: #9C55E3;
$presentation-heading-color: #28A87D;
$code-color: #9C55E3;
$code-block-bg: #eeeeee;
$code-block-border-color: #eeeeee;
$background-color: #f0f0f2;

// headings
$presentation-h1-font-size: 3em;
$presentation-heading-font: "Raleway Black";

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

code.sourceCode {
  font-size: 1.3em;
  /* or try font-size: xx-large; */
}